<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viewhigh.analysis.eureka.provider.mapper.UserLoginMapper">

	<select id="recordUserLogin" parameterType="com.viewhigh.analysis.domain.User">
		<bind name="currentTime" value="new java.util.Date()" />
		INSERT INTO
			user_login
		(
			uid,
			real_name,
			login_time
		)
		VALUES
		(
			#{user.id},
			#{user.realName},
			#{currentTime}
		)
	</select>
	
	<select id="countUserLogin" resultType="com.viewhigh.analysis.domain.UserLogin">
		SELECT
			uid AS id,
			real_name AS realName,
			COUNT(uid) AS loginCount
		FROM
			user_login
		GROUP BY
			uid
	</select>
	
	<select id="listUserPower" resultType="com.viewhigh.analysis.domain.UserPower">
		SELECT
			ur.uid AS id, 
			dp.power,
			dp.degist,
			r.id as rId,
			r.role_name AS roleName
		FROM
			user_role ur
		LEFT JOIN
			role_power rp
		ON
			ur.rid = rp.rid
		LEFT JOIN
			dict_power dp
		ON
			rp.pid = dp.id
		LEFT JOIN
			role r
		ON
			rp.rid = r.id
		WHERE
			ur.uid = #{id}
	</select>
  	
</mapper>